{$HOSTNAME}

encode zstd gzip

route /assets/* {
    uri strip_prefix /assets
    file_server {
        root /assets/
    }
}

route /favicon.ico {
    file_server {
        root /public
    }
}

route /userapi/* {
    reverse_proxy userapi:8000
}

route /* {
    rewrite /* /index.html
}

file_server {
    root /public
}
